.text {
	max-width:70%; margin-left:auto; margin-right:auto;
	:global(.screen-small) & {
		max-width:85%;
	}
	h2 {
		font-family:Gin;
	}
	a {
		display:inline-block; position:relative;
		&:before {
			position:absolute; top:calc(100% - 2px); left:0; width:100%; content:''; height:1px; background:currentColor; transition:all .15s ease-in-out; pointer-events:none;
		}
		&:hover {
			&:before {
				width:0;
			}
		}
	}
	&.uppercase {
		text-transform:uppercase;
	}
	&.center {
		text-align:center;
	}
}
