.container {
	display:flex; flex-direction:column; padding:var(--grid-gutter) calc(var(--grid-gutter) / 2) 0; max-width:1920px; margin:0 auto; min-height:100vh; background:#000;
}

.grid {
	display:flex; flex:1;
	&.stacked {
		flex-direction:column;
	}
	&.vhFill {
		min-height:calc(100vh - var(--headerHeight) - (var(--grid-gutter) * 2))
	}
	.grid {
		margin:0 calc(var(--grid-gutter) / -2) calc(var(--grid-gutter) * -1);
	}
	.grid + .grid {
		margin-top:var(--grid-gutter);
	}
}

.cell {
	display:flex; flex-direction:column; padding:0 calc(var(--grid-gutter) / 2) var(--grid-gutter); flex:1;
	.grid {
		margin-bottom:calc(var(--grid-gutter) * -1);
	}
	.grid + .grid {
		margin-top:var(--grid-gutter);
	}
}

.content {
	display:flex; align-items:center; justify-content:center; background:#252527; height:100%;
	&.alt {
		background:#303032;
	}
	&.bg {
		background-size:cover; background-position:center center;
		:global(.screen-small) & {
			height:300px;
		}
	}
	&.pad1, &.pad2 {
		padding:40px 8% 48px;
	}
	:global(.screen-large) &.pad2 {
		padding-top:80px; padding-bottom:88px;
	}
}
a.content:hover {
	background:#000;
}
