@each $name, $weight, $style in (
	(Regular, 400, normal),
	(Bold, 700, normal),
	(RegularItalic, 400, italic),
){
	@font-face {
		font-family: 'Pitch';
		src:
			url('fonts/Pitch/Pitch-#{$name}.woff2') format('woff2'),
			url('fonts/Pitch/Pitch-#{$name}.woff') format('woff');
		font-weight: $weight;
		font-style: $style;
	}
}
