@mixin gin () {
	font-family:'gin'
}

@mixin headline () {
	@include gin;
	line-height:1.2;
}

.fs {
	p {
		line-height:1.5;
		&:first-child {
			margin-top:0;
		}
		&:last-child {
			margin-bottom:0;
		}
	}
	a {
		display:inline-block; position:relative;
		&:before {
			position:absolute; top:calc(100% - 2px); left:0; width:100%; content:''; height:1px; background:currentColor; transition:all .15s ease-in-out; pointer-events:none;
		}
		&:hover {
			&:before {
				width:0;
			}
		}
	}
}

.h1 {
	@include headline;
	font-size:40px;
}

.h2 {
	@include headline;
	font-size:32px;
}

.h3 {
	@include headline;
	font-size:20px;
}

.meta {
	opacity:.5; font-size:14px; line-height:1; text-transform:uppercase; letter-spacing:5px;
}

.left {
	text-align:left;
}

.center {
	text-align:center;
}

.right {
	text-align:right;
}

.justify {
	text-align:justify;
}

.noWrap {
	line-height:1; white-space:nowrap;
}
