@import "./fonts/index.scss";

:root {
	--grid-gutter: 10px;
	--headerHeight: 120px;
	--body-color: #FFF;
	--link-color: #FFF;
	--accent-color: #FFFF00;
}

::selection {
	background:var(--accent-color);
	color: #000;
}

* {
	box-sizing:border-box;
}

html {
	font-size:16px;
}

body {
	margin:0; color:var(--body-color); background:url('./bg-tile.png') #000 center center; background-size:220px;
}

body, input, button {
	font-family:Pitch;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration:none; color:var(--link-color);
}
