.masthead {
	display:flex; align-items:center; justify-content:center; position:relative;
}

.background {
	display:block; max-width:100%; max-height:355px;
}

.foreground {
	position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);
	h2 {
		font-family:Gin;
	}
}
